.container {
    position: absolute;
    left: 15%;
    width: 70%;
    color: rgb(33, 19, 132);
    background-color: aliceblue;
}

body {
    background-color: rgb(206, 224, 240);
}

.navegacao {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

header {
  background-color: var(--rosa-claro);
  padding: 20px;
  border-radius: 0 0 20px 20px;
  text-align: center;
  background-color: #170675;
  color: white;
}

.navegacao {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.navegacao a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--rosa-destaque);
  font-weight: 600;
  transition: 0.3s;
}

.navegacao a:hover {
  color: rgb(177, 205, 229);
  text-decoration: underline;
}

