body {
  font-family: "Fuzzy Bubbles";
  width: 100%;
  text-align: center;
  background-color: aliceblue;
}

h1 {
    margin-top: 50px;
}

input {
    height: 30px;
    border: 2px solid rgb(32, 0, 128);
    border-radius: 5px;
    padding: 5px;
}

input[type="text"] {
    width: 610px;
    background-color: rgb(235, 239, 243);
}

input[type="date"] {
    width: 300px;
    background-color: rgb(235, 239, 243);
}

input[type="time"] {
    width: 300px;
    background-color: rgb(235, 239, 243);
}

button {
    font-size: large;
    padding: 10px;
    border: 2px solid rgb(32, 0, 128);
    border-radius: 5px;
    background-color: rgb(32, 0, 128);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(100, 104, 204);
    color: black;
}

.link-agenda {
    text-decoration: none;
    font-size: 20px;
    color: rgb(19, 19, 145);
}

.link-agenda:hover {
    text-decoration: underline;
}

.navegacao {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

header {
  background-color: rgb(7, 7, 103);
  padding: 20px;
  border-radius: 0 0 20px 20px;
  text-align: center;
  color: white;
}

.navegacao {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.navegacao a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--rosa-destaque);
  font-weight: 600;
  transition: 0.3s;
}

.navegacao a:hover {
  color: rgb(177, 205, 229);
  text-decoration: underline;
}

 