body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f0ff;
  color: #4b2c5e;
  text-align: justify;
}

section{
  text-align: center;
}

header {
  background-color: #c8a2d6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 300px;
}

.logo img {
  width: 60px;
  margin-right: 15px;
}

.logo h1 {
  font-size: 2em;
  margin: 0;
  color: #fff;
}

main {
  padding: 30px 20px;
}

.caixa {
  background-color: #fff;
  border: 2px solid #d8b4e2;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: center;
}

.caixa h2 {
  color: #6a3b8c;
  margin-bottom: 10px;
}

.caixa ul {
  list-style: none;
  padding: 0;
}

.caixa li {
  margin-bottom: 10px;
}

.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.funcionaria {
  text-align: center;
  max-width: 300px;
}

.funcionaria img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  height: 220px;
  object-fit: contain;
  border: 2px solid #6a3b8c; 
}

button {
  background-color: #6a3b8c;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #8e5bb5;
}

.icones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.icones img {
  width: 40px;
  transition: transform 0.3s;
}

.icones img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #c8a2d6;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #fff;
}